.bg-responsive {
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-1 {
  background-color: red;
}
.bg-2 {
  background-color: yellow;
}
.bg-3 {
  background-color: green;
}
.bg-4 {
  background-image: url(../assets/img/home-page/img-1.png);
}