.bg-responsive {
   background-size: cover;
   background-repeat: no-repeat;
}
/* .bg-1 {
  background-color: red;
}
.bg-2 {
  background-color: yellow;
}
.bg-3 {
  background-color: green;
} */
.bg-4 {
   background-image: url(../assets/img/home-page/img-1.png);
}
.bg-5 {
   background-image: url(../assets/img/home-page/background-contact.jpg);
}
.bg-6 {
   background-color: var(--sec-color);
}
.bg-7 {
   background-image: url(../assets/img/home-page/background-footer.jpg);
}
.bg-8 {
   background-image: url(../assets/img/home-page/background-footer.jpg);
}
.bg-9 {
   background-color: #0d0d0d;
}
.bg-10 {
   background-color: #002942;
}
.bg-11 {
   background-image: url(../assets/img/our-programs/img-bann.jpg);
}
.bg-12 {
   background-image: url(../assets/img/our-team/img-bann.jpg);
}
.bg-13 {
   background-image: url(../assets/img/contact-us/img-bann.jpg);
}
.bg-14 {
   background-image: url(../assets/img/about-us/img-ban.jpg);
}
.bg-15 {
   background-image: url(../assets/img/about-us/img-our-communauty.jpg);
}
