.contact-form-part {
   .my-input {
      @include my-input(black);
   }
   .submit-btn {
      @include primary-button(20px, 10px, black);
   }
}
.locations {
   color: white;
   h3 {
      color: #029fff;
      text-transform: uppercase;
   }
}
.my-international-number {
   p {
      font-family: $arialRoundedBold;
   }
}
.social-media-icons {
   a {
   }
   img {
      border-radius: 50%;
      &:hover {
         background-color: rgba(128, 128, 128, 0.376);
      }
   }
}
