.navigation {
   position: fixed;
   z-index: 111;
   transition: 0.3s;
   nav {
      img {
         height: 60px;
         @media screen and (max-width: 576px) {
            height: 50px;
         }
         transition: 0.3s;
      }
      .navbar-toggler {
         img {
            height: 36px;
            width: 36px;
         }
         &:focus {
            outline: none;
         }
      }
      transition: 0.3s;
      a {
         color: white;
      }
      a.home {
         color: red;
      }
   }
}

.fixing {
   height: 100%;
   background-color: var(--sec-color);
}
.my-nav {
   .nav-item {
      border: solid 1px transparent;
      &:hover {
         border: solid 1px rgba(161, 161, 161, 0.787);
      }
   }
   .active {
      border: solid 1px white !important;
      margin-right: 10px;
      margin-left: 10px;
      @media screen and (max-width: 992px) {
         padding-top: 6px;
         padding-bottom: 6px;
         margin: 10px;
      }
   }
   .nav-link {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
   }
   .navbar-nav {
      @media screen and (max-width: 992px) {
         margin-top: 30px;
      }
   }
}

.nav-scrooled {
   background-color: var(--sec-color);
   box-shadow: 0 5px 10px black;
   nav {
      img {
         height: 50px;
      }
      height: 90px;
   }
}
