:root {
  /* headings */
  --h1-home: 70px;
  --h3-home: 24px;
  --h1-size: 40px;
  --h2-size: 30px;
  --h3-size: 20px;
  --h4-size: 18px;
  --h5-size: 60px;
  /* paragraphs */
  --para1-size: 20px;
  --para2-size: 16px;
  --para3-size: 14px;
  --para4-size: 24px;
  /* colors */
  --main-color: #f3f7ff;
  --sec-color: #002941;
  --light-main-color: #fab6187e;
  --third-color: #ee7425;
}

@media only screen and (max-width: 992px) {
  :root {
    /* headings */
    --h1-home: 40px;
    --h3-home: 18px;
    --h1-size: 30px;
    --h2-size: 20px;
    --h3-size: 17px;
    --h4-size: 16px;
    --h5-size: 60px;
    /* paragraphs */
    --para1-size: 15px;
    --para2-size: 14px;
    --para3-size: 13px;
    --para4-size: 18px;
  }
  .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@font-face {
  font-family: "arial rounded bold";
  src: url("../assets/fonts/ARLRDBD.TTF");
}

@font-face {
  font-family: "arial nova";
  src: url("../assets/fonts/arial_nova/ArialNova.ttf");
}

@font-face {
  font-family: "arial nova";
  src: url("../assets/fonts/arial_nova/ArialNova.eot");
}

@font-face {
  font-family: "arial nova";
  src: url("../assets/fonts/arial_nova/ArialNova.woff");
}

@font-face {
  font-family: "arial nova";
  src: url("../assets/fonts/arial_nova/ArialNova.woff2");
}

@font-face {
  font-family: "arial nova bold";
  src: url("../assets/fonts/arial_nova/ArialNova-Bold.ttf");
}

@font-face {
  font-family: "arial nova bold";
  src: url("../assets/fonts/arial_nova/ArialNova-Bold.eot");
}

@font-face {
  font-family: "arial nova bold";
  src: url("../assets/fonts/arial_nova/ArialNova-Bold.woff");
}

@font-face {
  font-family: "arial nova bold";
  src: url("../assets/fonts/arial_nova/ArialNova-Bold.woff2");
}

@font-face {
  font-family: "arial nova light";
  src: url("../assets/fonts/arial_nova/ArialNova-Light.ttf");
}

@font-face {
  font-family: "arial nova light";
  src: url("../assets/fonts/arial_nova/ArialNova-Light.eot");
}

@font-face {
  font-family: "arial nova light";
  src: url("../assets/fonts/arial_nova/ArialNova-Light.woff");
}

@font-face {
  font-family: "arial nova light";
  src: url("../assets/fonts/arial_nova/ArialNova-Light.woff2");
}

/* variables */
.navigation {
  position: fixed;
  z-index: 111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation nav img {
  height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .navigation nav img {
    height: 50px;
  }
}

.navigation nav .navbar-toggler img {
  height: 36px;
  width: 36px;
}

.navigation nav .navbar-toggler:focus {
  outline: none;
}

.navigation nav a {
  color: white;
}

.navigation nav a.home {
  color: red;
}

.fixing {
  height: 100%;
  background-color: var(--sec-color);
}

.my-nav .nav-item {
  border: solid 1px transparent;
}

.my-nav .nav-item:hover {
  border: solid 1px rgba(161, 161, 161, 0.787);
}

.my-nav .active {
  border: solid 1px white !important;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .my-nav .active {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 10px;
  }
}

.my-nav .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .my-nav .navbar-nav {
    margin-top: 30px;
  }
}

.nav-scrooled {
  background-color: var(--sec-color);
  -webkit-box-shadow: 0 5px 10px black;
          box-shadow: 0 5px 10px black;
}

.nav-scrooled nav {
  height: 90px;
}

.nav-scrooled nav img {
  height: 50px;
}

.carousel-caption-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.carousel-caption-item .my-inner {
  color: white;
}

.carousel-caption-item .my-inner h1 {
  font-family: "arial rounded bold";
  font-size: var(--h1-home);
}

.carousel-caption-item .my-inner p {
  font-size: var(--para4-size);
}

.carousel-indicators {
  bottom: 70px;
}

@media screen and (max-width: 576px) {
  .carousel-indicators {
    bottom: 23px;
  }
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border: solid 2px white;
  background: transparent;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: white;
}

.home-second {
  background-color: var(--sec-color);
}

.home-second h2 {
  color: white !important;
}

.home-second p {
  color: white;
}

.home-second h3 {
  text-transform: uppercase;
  font-size: var(--h3-size);
  color: white;
  font-family: "arial nova" !important;
}

.section-3-home {
  color: var(--sec-color);
  background-color: #f3f7ff;
}

.section-3-home .sec-button {
  color: var(--sec-color);
}

.my-under-line-1 {
  height: 6px;
  width: 100%;
  background-color: red;
}

.my-under-line-2 {
  height: 6px;
  width: 100%;
  background-color: black;
}

.my-under-line-3 {
  height: 6px;
  width: 100%;
  background-color: green;
}

.hidden-para {
  font-size: var(--para2-size) !important;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .hidden-para {
    height: 90px;
  }
}

.our-programmes-inner {
  max-width: 400px;
}

.my-progrmmes-inner a img {
  margin-top: -54px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .my-progrmmes-inner a img {
    opacity: 1;
  }
}

.my-progrmmes-inner h2 {
  text-transform: uppercase;
}

.full-height {
  height: 90px;
}

.our-prgrammes {
  min-height: 450px;
}

.our-team-container {
  position: relative;
  min-height: 350px;
  color: white;
}

.our-team-container .over-lay {
  right: 0;
  left: 0;
  position: absolute;
  padding: 35px;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.658);
  opacity: 0;
  z-index: 10;
}

.our-team-container .over-lay:hover {
  opacity: 0.8;
}

.our-team-container .over-lay .overlay-spacer {
  width: 94px;
  height: 11px;
  background: var(--sec-color);
  margin: auto;
  border-radius: 10px;
  margin-bottom: 23px;
  margin-top: 29px;
}

.our-team-container .first-info {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.our-team .owl-nav {
  position: absolute;
  top: -40px;
  right: 0;
}

.our-team .owl-nav button {
  width: 30px;
  height: 30px;
  background: #dbdbdb !important;
  margin-left: 8px;
  color: black;
}

.our-team .owl-nav button:hover {
  background-color: #8d8d8d !important;
}

.our-team .owl-nav button:focus {
  outline: none;
}

.our-team h3 {
  margin-top: 22px;
  color: white;
  font-family: "arial nova bold";
}

.our-team p {
  color: #ffffffbd;
}

.our-team .over-lay img {
  width: 40px;
  display: inline;
}

.our-team .over-lay h4 {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
}

.contact-info-inner {
  padding: 10px;
  margin: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  margin-left: 0;
}

.contact-info-inner img {
  margin-right: 10px;
}

.contact-info-inner:hover {
  border: solid 1px #00578d;
  background-color: #00578d54;
}

.my-form label {
  display: block;
  margin-bottom: 0px;
}

.my-form .my-input {
  border: none;
  border-bottom: solid 1px white;
  width: 90%;
  margin-bottom: 20px;
  background-color: transparent;
  color: wheat;
  font-family: "arial rounded bold";
}

.my-form .my-input::-webkit-input-placeholder {
  font-family: "arial nova";
}

.my-form .my-input:-ms-input-placeholder {
  font-family: "arial nova";
}

.my-form .my-input::-ms-input-placeholder {
  font-family: "arial nova";
}

.my-form .my-input::placeholder {
  font-family: "arial nova";
}

.my-form .my-input:focus {
  border-bottom: solid 1px green;
  outline: none;
}

.home-contact {
  color: white;
}

.home-contact h2 {
  color: white !important;
}

.submit-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.submit-btn:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.submit-btn:focus {
  outline: none;
}

.news-letter {
  color: white;
}

.news-letter h2 {
  color: white !important;
  font-size: var(--h2-size);
}

.news-letter img {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  margin-right: 16px;
  height: 50px;
  cursor: pointer;
}

.news-letter .my-input {
  border: none;
  border-bottom: solid 1px white;
  width: 90%;
  margin-bottom: 20px;
  background-color: transparent;
  color: wheat;
  font-family: "arial rounded bold";
  padding-top: 18px;
}

.news-letter .my-input::-webkit-input-placeholder {
  font-family: "arial nova";
}

.news-letter .my-input:-ms-input-placeholder {
  font-family: "arial nova";
}

.news-letter .my-input::-ms-input-placeholder {
  font-family: "arial nova";
}

.news-letter .my-input::placeholder {
  font-family: "arial nova";
}

.news-letter .my-input:focus {
  border-bottom: solid 1px green;
  outline: none;
}

.news-letter button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-letter button:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.news-letter button:focus {
  outline: none;
}

.footer {
  padding-right: 0;
  padding-left: 0;
}

.footer button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer button:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.footer button:focus {
  outline: none;
}

.footer .contact-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white !important;
}

.footer .contact-link:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.footer .contact-link:focus {
  outline: none;
}

.footer .secondary-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 28px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: lowercase !important;
}

.footer .secondary-button:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.footer .secondary-button:focus {
  outline: none;
}

.footer .back-to-top-button img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  font-family: "arial nova bold";
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer p {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.footer ul {
  margin-top: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  text-transform: uppercase;
}

.footer ul li a {
  color: white;
}

.footer .hr {
  margin-top: 20px;
  background-color: white;
  height: 1px;
  width: 100%;
}

.bg-responsive {
  background-size: cover;
  background-repeat: no-repeat;
}

/* .bg-1 {
  background-color: red;
}
.bg-2 {
  background-color: yellow;
}
.bg-3 {
  background-color: green;
} */
.bg-4 {
  background-image: url(../assets/img/home-page/img-1.png);
}

.bg-5 {
  background-image: url(../assets/img/home-page/background-contact.jpg);
}

.bg-6 {
  background-color: var(--sec-color);
}

.bg-7 {
  background-image: url(../assets/img/home-page/background-footer.jpg);
}

.bg-8 {
  background-image: url(../assets/img/home-page/background-footer.jpg);
}

.bg-9 {
  background-color: #0d0d0d;
}

.bg-10 {
  background-color: #002942;
}

.bg-11 {
  background-image: url(../assets/img/our-programs/img-bann.jpg);
}

.bg-12 {
  background-image: url(../assets/img/our-team/img-bann.jpg);
}

.bg-13 {
  background-image: url(../assets/img/contact-us/img-bann.jpg);
}

.bg-14 {
  background-image: url(../assets/img/about-us/img-ban.jpg);
}

.bg-15 {
  background-image: url(../assets/img/about-us/img-our-communauty.jpg);
}

.contact-form-part .my-input {
  border: none;
  border-bottom: solid 1px black;
  width: 90%;
  margin-bottom: 20px;
  background-color: transparent;
  color: wheat;
  font-family: "arial rounded bold";
}

.contact-form-part .my-input::-webkit-input-placeholder {
  font-family: "arial nova";
}

.contact-form-part .my-input:-ms-input-placeholder {
  font-family: "arial nova";
}

.contact-form-part .my-input::-ms-input-placeholder {
  font-family: "arial nova";
}

.contact-form-part .my-input::placeholder {
  font-family: "arial nova";
}

.contact-form-part .my-input:focus {
  border-bottom: solid 1px green;
  outline: none;
}

.contact-form-part .submit-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px black;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-form-part .submit-btn:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: black;
}

.contact-form-part .submit-btn:focus {
  outline: none;
}

.locations {
  color: white;
}

.locations h3 {
  color: #029fff;
  text-transform: uppercase;
}

.my-international-number p {
  font-family: "arial rounded bold";
}

.social-media-icons img {
  border-radius: 50%;
}

.social-media-icons img:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

.team-section .social-media {
  margin-top: 40px;
}

.get-in-touch h3,
.get-in-touch p {
  color: white;
}

.get-in-touch a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.get-in-touch a:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.get-in-touch a:focus {
  outline: none;
}

#reveal-members {
  cursor: pointer;
}

.our-programs-main ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.our-programs-main ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 6px;
  cursor: pointer;
}

.our-programs-main ul li:hover {
  border: none;
  padding-left: 20px !important;
  background: #0029416b;
  border-radius: 7px;
  color: white;
}

.our-programs-main ul .active-item {
  border: none;
  padding-left: 20px !important;
  background: var(--sec-color);
  border-radius: 7px;
  color: white;
  background-color: var(--sec-color) !important;
}

.our-programs-main .sticky-list {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
}

.translated-content {
  background: var(--sec-color);
  color: white;
  padding: 20px;
  -webkit-transform: translateX(-18%);
          transform: translateX(-18%);
  width: 120%;
  -webkit-box-shadow: 0 0 53px black;
          box-shadow: 0 0 53px black;
}

@media screen and (max-width: 992px) {
  .translated-content {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100%;
  }
}

.translated-content-2 {
  background: #efefef;
  color: var(--sec-color);
  padding: 20px;
  -webkit-transform: translateX(-18%);
          transform: translateX(-18%);
  width: 120%;
  -webkit-box-shadow: 0 0 53px black;
          box-shadow: 0 0 53px black;
}

@media screen and (max-width: 992px) {
  .translated-content-2 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100%;
  }
}

.items-to-select {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: solid 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}

.items-to-select h2 {
  font-size: 20px;
  margin-top: 10px;
}

.items-to-select:hover {
  background-color: #0029418e;
}

.items-to-select:hover h2 {
  color: white;
}

.selected-item {
  background-color: var(--sec-color);
}

.selected-item h2 {
  color: white !important;
}

.about-content-container {
  margin-top: 56px;
  margin-bottom: 56px;
}

.about-content-container .about-content {
  height: 100%;
  border: solid 1px black;
  padding: 20px;
}

.about-content {
  color: white;
  background-color: var(--sec-color);
}

.about-content h2 {
  color: white !important;
}

.our-comunity {
  color: white;
}

.our-comunity-numbers .number {
  display: block;
  font-size: 26px;
  font-family: "arial rounded bold" !important;
}

.our-comunity-numbers img {
  width: 83px;
  margin-bottom: 9px;
}

.about-team .sec-button {
  color: var(--sec-color);
}

.about-team .small-para-2 {
  font-size: 15px;
}

body,
div {
  font-family: "arial nova light";
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-size: var(--h3-size);
}

.carousel-inner img {
  min-width: 100%;
  min-height: 100%;
}

#demo {
  height: 100%;
  overflow: hidden;
}

.my-header {
  height: 100vh;
}

.primary-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.primary-button:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}

.primary-button:focus {
  outline: none;
}

.sec-button {
  text-transform: uppercase;
  color: white;
  padding: 7px;
  border-radius: 8px;
}

.sec-button img {
  height: 9px;
  width: 26px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  margin-left: 1px;
}

.sec-button:hover {
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.349);
  color: white;
}

.line-under-secColor {
  position: relative;
  display: inline;
  color: var(--sec-color) !important;
}

.line-under-secColor::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: var(--sec-color);
  display: block;
  margin-top: 8px;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.line-under-white {
  position: relative;
  display: inline;
  color: white !important;
}

.line-under-white::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: white;
  display: block;
  margin-top: 8px;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.global-class h2 {
  font-family: "arial rounded bold";
  color: var(--sec-color);
}

.global-class p {
  font-size: var(--para1-size);
}

.global-class h3 {
  font-family: "arial rounded bold";
  font-size: var(--h3-size);
}

a:hover {
  text-decoration: none;
}

.flesh-bleu {
  color: var(--sec-color);
}

.small-para {
  font-size: var(--para3-size) !important;
}

.my-banner {
  color: white;
  height: 60vh;
}

.my-banner h3 {
  font-family: "arial rounded bold";
  font-size: var(--h3-home);
}

.my-banner h1 {
  font-family: "arial rounded bold";
  font-size: var(--h2-size);
}

.my-banner p {
  font-size: var(--para1-size);
}

.mymap {
  position: relative;
}

.mymap img {
  width: 100%;
  height: 100%;
}

.a-one {
  position: absolute;
  top: 9%;
  left: 6%;
  cursor: default;
}

.a-two {
  position: absolute;
  top: 29%;
  left: 45%;
  cursor: default;
}

.a-three {
  position: absolute;
  top: 11%;
  left: 44%;
  cursor: default;
}

.a-four {
  position: absolute;
  top: 10%;
  left: 40%;
  cursor: default;
}

.a-five {
  position: absolute;
  top: 26%;
  left: 8%;
  cursor: default;
}

.a-sex {
  position: absolute;
  top: 18%;
  left: 36%;
  cursor: default;
}

.a-seven {
  position: absolute;
  top: 11%;
  left: 44%;
  cursor: default;
}

.map-pin {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.map-pin img {
  height: 20px;
  width: 20px;
}

.pop-over-map {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.774);
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  color: black;
}

.pop-over-map h2 {
  margin: 0;
  font-size: 21px;
  text-align: center;
}

.pop-over-map p {
  margin: 0;
  text-align: center;
}

.map-section {
  background-color: #002941ab;
}
/*# sourceMappingURL=style.css.map */