:root {
   /* headings */
   --h1-home: 70px;
   --h3-home: 24px;
   --h1-size: 40px;
   --h2-size: 30px;
   --h3-size: 20px;
   --h4-size: 18px;
   --h5-size: 60px;
   /* paragraphs */
   --para1-size: 20px;
   --para2-size: 16px;
   --para3-size: 14px;
   --para4-size: 24px;
   /* colors */
   --main-color: #f3f7ff;
   --sec-color: #002941;
   --light-main-color: #fab6187e;
   --third-color: #ee7425;
}
@media only screen and (max-width: 1024px) {
   :root {
      /* headings */
      --h1-home: 40px;
      --h3-home: 18px;
      --h1-size: 30px;
      --h2-size: 20px;
      --h3-size: 17px;
      --h4-size: 16px;
      --h5-size: 60px;
      /* paragraphs */
      --para1-size: 15px;
      --para2-size: 14px;
      --para3-size: 13px;
      --para4-size: 18px;
   }
   .first {
      order: 1;
   }
   .second {
      order: 2;
   }
}
@font-face {
   font-family: "arial rounded bold";
   src: url("../assets/fonts/ARLRDBD.TTF");
}
@font-face {
   font-family: "arial nova";
   src: url("../assets/fonts/arial_nova/ArialNova.ttf");
}
@font-face {
   font-family: "arial nova";
   src: url("../assets/fonts/arial_nova/ArialNova.eot");
}
@font-face {
   font-family: "arial nova";
   src: url("../assets/fonts/arial_nova/ArialNova.woff");
}
@font-face {
   font-family: "arial nova";
   src: url("../assets/fonts/arial_nova/ArialNova.woff2");
}
@font-face {
   font-family: "arial nova bold";
   src: url("../assets/fonts/arial_nova/ArialNova-Bold.ttf");
}
@font-face {
   font-family: "arial nova bold";
   src: url("../assets/fonts/arial_nova/ArialNova-Bold.eot");
}
@font-face {
   font-family: "arial nova bold";
   src: url("../assets/fonts/arial_nova/ArialNova-Bold.woff");
}
@font-face {
   font-family: "arial nova bold";
   src: url("../assets/fonts/arial_nova/ArialNova-Bold.woff2");
}
@font-face {
   font-family: "arial nova light";
   src: url("../assets/fonts/arial_nova/ArialNova-Light.ttf");
}
@font-face {
   font-family: "arial nova light";
   src: url("../assets/fonts/arial_nova/ArialNova-Light.eot");
}
@font-face {
   font-family: "arial nova light";
   src: url("../assets/fonts/arial_nova/ArialNova-Light.woff");
}
@font-face {
   font-family: "arial nova light";
   src: url("../assets/fonts/arial_nova/ArialNova-Light.woff2");
}
@import "mixins";
@import "header";
@import "home";
@import "bg";
@import "contactus";
@import "team";
@import "programs";
body,
div {
   font-family: "arial nova light";
}
html {
   scroll-behavior: smooth;
}
h3 {
   font-size: var(--h3-size);
}

.carousel-inner img {
   min-width: 100%;
   min-height: 100%;
}

#demo {
   height: 100%;
   overflow: hidden;
}

.my-header {
   height: 100vh;
}

.primary-button {
   @include primary-button(10px, 10px);
}
.sec-button {
   text-transform: uppercase;
   color: white;
   img {
      height: 9px;
      width: 26px;
      transform: translateY(-1px);
      margin-left: 1px;
   }
   &:hover {
      text-decoration: none;
   }
}
@mixin lineUnder($lineUnderColor) {
   position: relative;
   display: inline;
   color: $lineUnderColor !important;
   &::after {
      content: "";
      height: 5px;
      width: 90px;
      background-color: $lineUnderColor;
      display: block;
      margin-top: 8px;
      position: absolute;
      left: 0;
      border-radius: 10px;
   }
}

.line-under-secColor {
   @include lineUnder(var(--sec-color));
}
.line-under-white {
   @include lineUnder(white);
}

.global-class {
   h2 {
      font-family: "arial rounded bold";
      color: var(--sec-color);
   }
   p {
      font-size: var(--para1-size);
   }
   h3 {
      font-family: "arial rounded bold";
      font-size: var(--h3-size);
   }
}
a:hover {
   text-decoration: none;
}
.flesh-bleu {
   color: var(--sec-color);
}
.small-para {
   font-size: var(--para3-size) !important ;
}
.my-banner {
   color: white;
   height: 60vh;
   h3 {
      font-family: $arialRoundedBold;
      font-size: var(--h3-home);
   }
   h1 {
      font-family: $arialRoundedBold;
      font-size: var(--h2-size);
   }
   p {
      font-size: var(--para1-size);
   }
}
